<?xml version="1.0"?>
<config>
    <modules>
        <Capacitywebsolutions_Importproduct>
            <version>1.0</version>
        </Capacitywebsolutions_Importproduct>
    </modules>
    <global>
      <models>
          <catalog>
              <rewrite>
                  <!-- Override Mage_Catalog_Model_Convert_Adapter_Product -->
                  <convert_adapter_product>Capacitywebsolutions_Importproduct_Model_Convert_Adapter_Product</convert_adapter_product>
              </rewrite>
          </catalog>
          <importproduct>
              <class>Capacitywebsolutions_Importproduct_Model</class>
          </importproduct>
        </models>
        <resources>
            <importproduct_setup>
              <setup>
                <module>Capacitywebsolutions_Importproduct</module>
                <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
              </setup>
              <connection>
                <use>core_setup</use>
              </connection>
            </importproduct_setup>
            <importproduct_setup_write>
              <connection>
                <use>core_write</use>
              </connection>
            </importproduct_setup_write>
            <importproduct_setup_read>
              <connection>
                <use>core_read</use>
              </connection>
            </importproduct_setup_read>
        </resources>        
    </global>
    <adminhtml>
      <acl>
        <resources>
          <admin>
            <children>
              <system>
                <children>
                  <config>
                    <children>
                      <importprod_root>
                        <title>IceImport module</title>
                      </importprod_root>
                    </children>
                  </config>
                </children>
              </system>
            </children>
          </admin>
        </resources>
      </acl>
    </adminhtml>
    <crontab>
            <jobs>
                    <importproduct>
                            <schedule><cron_expr>* * * * *</cron_expr></schedule>
                            <run><model>importproduct/observer::load</model></run>
                    </importproduct>
            </jobs>
    </crontab>    
</config>
