<?xml version="1.0"?>
<config>
    <modules>
        <Iceshop_Iceimport>
            <version>1.5.0</version>
        </Iceshop_Iceimport>
    </modules>
    <global>
        <events>
            <controller_action_predispatch_adminhtml_profile_batchfinish>
                <observers>
                    <Iceshop_Iceimport>
                        <class>Iceshop_Iceimport/Observer</class>
                        <method>sortCategory</method>
                    </Iceshop_Iceimport>
                </observers>
            </controller_action_predispatch_adminhtml_profile_batchfinish>
            <controller_action_postdispatch_adminhtml_profile_batchFinish>
                <observers>
                    <Iceshop_Iceimport>
                        <class>Iceshop_Iceimport/Observer</class>
                        <method>sortCategory</method>
                    </Iceshop_Iceimport>
                </observers>
            </controller_action_postdispatch_adminhtml_profile_batchFinish>
        </events>
        <models>
            <catalog>
                <rewrite>
                    <!-- Override Mage_Catalog_Model_Convert_Adapter_Product -->
                    <convert_adapter_product>Iceshop_Iceimport_Model_Convert_Adapter_Product</convert_adapter_product>
                </rewrite>
            </catalog>
            <dataflow>
                <rewrite>
                    <!-- Override Mage_Catalog_Model_Convert_Adapter_Product -->
                    <batch_import>Iceshop_Iceimport_Model_Dataflow_Batch_Import</batch_import>
                </rewrite>
                <rewrite>
                    <!-- Override Mage_Catalog_Model_Convert_Adapter_Product -->
                    <convert_parser_csv>Iceshop_Iceimport_Model_Dataflow_Convert_Parser_Csv</convert_parser_csv>
                </rewrite>
            </dataflow>
            <iceimport>
                <class>Iceshop_Iceimport_Model</class>
            </iceimport>
        </models>
        <resources>
            <iceimport_setup>
                <setup>
                    <module>Iceshop_Iceimport</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iceimport_setup>
            <iceimport_setup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </iceimport_setup_write>
            <iceimport_setup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </iceimport_setup_read>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <importprod_root>
                                            <title>IceImport module</title>
                                        </importprod_root>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <iceimport>
                <schedule>
                    <cron_expr>0 0 * * 0</cron_expr>
                </schedule>
                <run>
                    <model>iceimport/observer::load</model>
                </run>
            </iceimport>
        </jobs>
    </crontab>    
</config>
