<?xml version="1.0"?>
<config>
    <modules>
        <ICEshop_Iceimport>
            <version>1.7.13</version>
        </ICEshop_Iceimport>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <iceimport before="Mage_Adminhtml">ICEshop_Iceimport_Adminhtml</iceimport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <events>
            <controller_action_predispatch_adminhtml_profile_batchfinish>
                <observers>
                    <ICEshop_Iceimport>
                        <class>ICEshop_Iceimport/Observer</class>
                        <method>sortCategory</method>
                    </ICEshop_Iceimport>
                </observers>
            </controller_action_predispatch_adminhtml_profile_batchfinish>
            <controller_action_postdispatch_adminhtml_profile_batchFinish>
                <observers>
                    <ICEshop_Iceimport>
                        <class>ICEshop_Iceimport/Observer</class>
                        <method>sortCategory</method>
                    </ICEshop_Iceimport>
                </observers>
            </controller_action_postdispatch_adminhtml_profile_batchFinish>
        </events>
        <blocks>
            <iceimport>
                <class>ICEshop_Iceimport_Block</class>
            </iceimport>
        </blocks>
        <models>
            <catalog>
                <rewrite>
                    <!-- Override Mage_Catalog_Model_Convert_Adapter_Product -->
                    <convert_adapter_product>ICEshop_Iceimport_Model_Convert_Adapter_Product</convert_adapter_product>
                </rewrite>
            </catalog>
            <dataflow>
                <rewrite>
                    <!-- Override Mage_Catalog_Model_Convert_Adapter_Product -->
                    <batch_import>ICEshop_Iceimport_Model_Dataflow_Batch_Import</batch_import>
                </rewrite>
                <rewrite>
                    <!-- Override Mage_Catalog_Model_Convert_Adapter_Product -->
                    <convert_parser_csv>ICEshop_Iceimport_Model_Dataflow_Convert_Parser_Csv</convert_parser_csv>
                </rewrite>
            </dataflow>
            <iceimport>
                <class>ICEshop_Iceimport_Model</class>
            </iceimport>
        </models>
        <helpers>
            <iceimport>
                <class>ICEshop_Iceimport_Helper</class>
            </iceimport>
        </helpers>
        <resources>
            <iceimport_setup>
                <setup>
                    <module>ICEshop_Iceimport</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iceimport_setup>
            <iceimport_setup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </iceimport_setup_write>
            <iceimport_setup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </iceimport_setup_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <ICEshop_Iceimport module="iceimport">
                    <file>ICEshop_Iceimport.xml</file>
                </ICEshop_Iceimport>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <iceshop_iceimport>
                <schedule>
                    <cron_expr>30 7 * * *</cron_expr>
                </schedule>
                <run>
                    <model>iceimport/observer::load</model>
                </run>
            </iceshop_iceimport>
        </jobs>
    </crontab>
    <default>
        <iceshop_iceimport_importprod_root>
            <importprod>
                <category_active>1</category_active>
                <category_sort>1</category_sort>
                <delete_old_products>1</delete_old_products>
                <import_product_ean>1</import_product_ean>
                <import_product_mpn>1</import_product_mpn>
                <import_product_brand_name>1</import_product_brand_name>
                <import_product_name>1</import_product_name>
                <import_product_short_description>1</import_product_short_description>
                <import_product_description>1</import_product_description>
                <import_product_short_summary_description>1</import_product_short_summary_description>
                <import_product_summary_description>1</import_product_summary_description>
                <import_prices>1</import_prices>
                <import_stock>1</import_stock>
                <import_product_delivery_eta>1</import_product_delivery_eta>
                <import_images>1</import_images>
                <update_categories_from_csv>1</update_categories_from_csv>
                <update_status_from_csv>1</update_status_from_csv>
                <update_visibility_from_csv>1</update_visibility_from_csv>
                <update_is_in_stock_from_csv>1</update_is_in_stock_from_csv>
                <update_hide_category>1</update_hide_category>
                <update_url_key_from_csv>1</update_url_key_from_csv>
                <iceimport_batch_size>10</iceimport_batch_size>
                <import_new_products>1</import_new_products>
                <delete_old_products_tolerance>25</delete_old_products_tolerance>
                <images_queue_processing_only>0</images_queue_processing_only>
            </importprod>
        </iceshop_iceimport_importprod_root>
    </default>
</config>
